<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="empleadoDAO" class="es.curso.examen.dao.EmpleadoDAO"></bean>
	<bean id="empleado" class="es.curso.examen.modelo.Empleado"></bean>
	<bean id="ficherosLog" class="es.curso.examen.logs.FicherosLog"></bean>
	<bean id="log" class="es.curso.examen.modelo.Log"></bean>

	<aop:config>
		<aop:aspect ref="log">
			<aop:pointcut
				expression="execution(* es.curso.examen.dao.IEmpleadoDAO.create(es.curso.examen.modelo.Empleado))  and args(empleado)"
				id="pc_create" />
			<aop:pointcut
				expression="execution(* es.curso.examen.dao.IEmpleadoDAO.delete(int)) and args(idEmpleado)"
				id="pc_delete" />
			<aop:pointcut
				expression="execution(* es.curso.examen.dao.IEmpleadoDAO.update(es.curso.examen.modelo.Empleado)) and args(empleado)"
				id="pc_update" />

			<aop:before arg-names="empleado" method="createUsuario"
				pointcut-ref="pc_create" />
			<aop:before method="deleteUsuario" arg-names="idEmpleado"
				pointcut-ref="pc_delete" />
			<aop:before method="updateUsuario" arg-names="empleado"
				pointcut-ref="pc_update" />
		</aop:aspect>
	</aop:config>

</beans>
